body, html {
    height: 100%;
  }
body > nav > div > ul > li > a{
    color: rgb(155, 155, 155)!important;
    margin-right: 15px;
}
.bg-dark{
    background-color: #252525!important;
}
.navbar{
    min-height: 50px!important;
    padding:10px 0 10px 0!important;
}
body > nav > div > ul > li > a:hover{
    transition: ease 0.2s;
    color: azure!important;
    text-decoration: none!important;
}
body > div > div{
    border:none;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
body > div > div > input{
    margin-right: 10px;
}
.search{
    height: 55px;
    border:none;
}

#basic-text1{
    border-color:#4083aa ;
    background-color: #4083aa;
    padding: .375rem 1.2rem;
}
#btnnapravioglas{
    background-color: transparent;
    border: 3px solid;
}
body > nav > div > ul.nav.navbar-nav.navbar-right > li > a > span > i{
    margin-right: 5px;
}

.active a{
    color: white!important;
}

.background {
    background-image: url("http://localhost/MojPas/images/back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }