body, html {
    height: 100%;
  }
  body > div > nav > div > ul > li > a{
    color: rgb(255, 255, 255)!important;
    margin-right: 15px;
}
span > i {
    margin-right: 5px;
}
.navbar{
    min-height: 50px!important;
    padding:10px 0 10px 0!important;
    background-color: #043957;
}
body > div > nav > div > ul > li > a:hover{
    transition: ease 0.2s;
    text-decoration: none!important;
    border-bottom: 3px solid white;
}
body > div > div{
    border:none;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}
body > div > div > input{
    margin-right: 10px;
}
.search{
    height: 55px;
    border:none;
}

#basic-text1{
    border-color: #fbca70;
    background-color: #fbca70;
    padding: .375rem 1.2rem;
}
#btnnapravioglas{
    color: #fbca70;
    background-color: transparent;
    border: 3px solid;
}
body > nav > div > ul.nav.navbar-nav.navbar-right > li > a > span > i{
    margin-right: 5px;
}

.active a{
    color: white!important;
    border-bottom: 3px solid white;
}

.background {
    background-image: url("http://localhost/MojPas/images/back2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }