body, html {
    height: 100%;
    background-image: url("http://localhost/MojPas/images/back2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.row{
    position: absolute;
    border:none;
    max-width: 600px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    margin-left: 0;
}
.search{
    height: 55px;
    border:none;
}
span > i {
    margin:0;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-bottom:3px;
}

#search-icon{
    border-color: #fbca70;
    background-color: #fbca70;
    padding: .375rem 1.2rem;
}
.input-group {
    padding: 0;
}
#btnnapravioglas{
    color: #fbca70;
    background-color: transparent;
    border: 3px solid;
}
.active a{
    color: white!important;
    border-bottom: 3px solid white;
}
