body, html {
    background-image: url("http://localhost/MojPas/images/blur18.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.wrapper{
    left: 50%;
    top: 50%;
    max-width: 400px;
    width: 100%;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}
.panel{
    padding: 50px;
    background-color: rgb(255, 255, 255,0.95);
}
.panel-heading{
    background-color: transparent;
    padding:10px 0 30px 0;
    text-align: center;
}
.panel-body{
    padding:10px 15px;
    background-color: transparent;
}
/*animation*/
.form-group {
    position: relative;
    line-height: 44px;
    margin-bottom: 2rem;
}
label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(133, 133, 133);
    transition: 0.2s all;
    cursor: text;
  }
input {
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
  }
input:invalid {
    outline: 0; 
  }

input:focus~label,input:valid~label {
    font-size: 14px;
    top: -24px;
    color: rgb(4, 57, 87);
  }
  /*ZAVRSAVA */

#submitbtn{
    background-color: transparent;
    border:1px solid rgb(4, 57, 87);
    color: rgb(4, 57, 87);
    font-size: 1em;
    width: 150px;
    border-radius: 0;
}
#submitbtn:hover{
    background-color: rgb(4, 57, 87);
    color:white;
    border:1px solid rgb(4, 57, 87);
}
.text-center{
    margin-bottom: 10px;
}