body, html {
    background-image: url("http://localhost/MojPas/images/back2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
body > nav > div > ul > li > a{
    color: rgb(255, 255, 255)!important;
    margin-right: 15px;
    text-decoration: none;
}
.navbar{
    min-height: 50px!important;
    padding:10px 0 10px 0!important;
    background-color: #043957;
}
.fas{
    margin-right: 5px;
}

body > nav > div > ul > li > a:hover{
    transition: ease 0.2s;
    text-decoration: none!important;
    border-bottom: 3px solid white;
}
.active a{
    color: white!important;
    border-bottom: 3px solid white;
}
body > div.container > div > div{
    margin : 20px auto;
    padding:0;
    background-color: rgba(255, 255, 255, 0.8);
}

.panel-heading{
    padding:10px 0 10px 0;
    text-align: center;
}
.panel-body{
    padding:10px 15px;
}
.submitBtn:hover{
    background-color: rgb(4, 57, 87);
    color: white;
    border: 1px solid rgb(4, 57, 87);
}
.submitBtn{
    color:#043957;
    background-color: transparent;
    font-size: 1em;
    width:-webkit-fill-available;
    border-radius: 0;
    border: 1px solid #043957;
}

.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 5px;
  }

.cijepljenje{
    display: inline-grid;
    margin-bottom: 0;
}

.container{
    position: relative;
}
.form-control {
    background-color: transparent;
    border:none;
    border-bottom: 1px solid;
    border-radius: 0;
    width: -webkit-fill-available;
}
.form-control:focus, .form-control:active {
    background: transparent;
    box-shadow: none;
}
@-webkit-keyframes autofill {
    0%,100% {
        background: transparent;
    }
}
#opis{
    border:1px solid
}
.form-control:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
/* stvaranje okvira oko slike 
brisanje overloadanog */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    position: relative;
    float: left;
    margin-right: 15px;
    border: 1px solid ;
    padding: 0;
    height: 330px;
    width: 260px;
    cursor: pointer;
}
.custom-file-upload span {
    width: fit-content;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*pozicioniranje uploadane slike*/
#output{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
    max-width:100%;
}

/*autocomplete za vrstu psa */
.autocomplete {
  position: relative;
  display: block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: auto;
  max-height: 300px;
  overflow-y: scroll;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.custom-file-upload, .autocomplete-items{
    display: inline;
}

#formalert{
    text-align: center!important;
    font-size: 100%;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fbca70;
    border-color: #fbca70;
    background-color: #fbca70;
}