body, html {
    background-image: url("http://localhost/MojPas/images/blur18.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
  
body > nav > div > ul > li > a{
    color: rgb(255, 255, 255)!important;
    margin-right: 15px;
}

.navbar{
    min-height: 50px!important;
    padding:10px 0 10px 0!important;
    background-color: #043957;
    z-index: 1;
}
.fas{
    margin-right: 5px;
}
#dropdown > div > a:hover{
    background-color:#fbca70!important;
}
.nav-link {
    display: initial;
    padding: 0;
}
body > nav > div > ul > li > a:hover{
    transition: ease 0.2s;
    text-decoration: none!important;
    border-bottom: 3px solid white;
}

body > nav > div > ul.nav.navbar-nav.navbar-right > li > a > span > i{
    margin-right: 5px;
}

body > div.container > div > div{
    margin : 20px auto;
}

.active a{
    color: white!important;
    border-bottom: 3px solid white;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
}
#form-wrapper{

    padding:0;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    max-height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.panel-heading{
    font-size: large;
    padding: 2rem 0 2rem 0;
    text-align: center;
    color:black;
}

.panel-body{
    padding:10px 15px;
    
}
.image-wrapper{
    height: 500px;
}
.image-wrapper > img{
    height: -webkit-fill-available;
    display: block;
    width: -webkit-fill-available;
}
.form-group {
    color: rgb(0, 0, 0);
}

#register-form > div.row > div> div > label{
    margin-bottom: 0;
}
.form-group {
    position: relative;
    line-height: 44px;
    margin-bottom: 2rem;
}
label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(133, 133, 133);
    transition: 0.2s all;
    cursor: text;
  }
  input {
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
  input:invalid {
    outline: 0; 
  }

input:focus~label,input:valid~label {
    font-size: 14px;
    top: -24px;
    color: rgb(4, 57, 87);
  }

.form-control:focus, .form-control:active {
    background: transparent;
    box-shadow: none;
}
@-webkit-keyframes autofill {
    0%,100% {
        background: transparent;
    }
}

.form-control:-webkit-autofill {
     /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: forwards;
}
option{
    color: black;
}

#submitbtn {
    color: #043957;
    background-color: transparent;
    border: 1px solid #043957;
    border-radius: 0;
    font-size: 1rem!important;
}
#submitbtn:hover {
    background-color: #043957;
    color:white
}
